/* For desktop screens */

.contacts {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1fr 1fr auto ;
}

/* For small desktop displays */
@media only screen and (max-width: 1468px) {
  .contacts {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr 1fr 1fr auto ;
  }
}
/* For tablet screens */ 
@media only screen and (max-width:1168px) {
  .contacts {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr 1fr 1fr auto ;
  }
}

@media only screen and (max-width: 890px) {
  .contacts {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr 1fr 1fr auto ;
  }
}

/* For mobile screens */ 
@media only screen and (max-width: 700px) {
  .contacts {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: 1fr 1fr 1fr auto ;
  }
}